* {
  margin: 0%;
  padding: 0%;
}

/* PADRÕES */

body {
  background-image: url(./imagens/fundo.png);
  font-family: "Press Start 2P", cursive;

  margin: 10%;
  margin-top: 5%;
  margin-bottom: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: calc(9px + 0.9vw);
  font-weight: normal;

  margin: 1vw 0vw 0vw 0.8vw;

  color: white;
  text-shadow: -1px 1px 0px rgb(29, 82, 246);
}

p {
  font-size: calc(5px + 0.5vw);
  font-weight: normal;

  margin: 1vw 0vw 0vw 0.8vw;

  color: #1354f9;
  text-shadow: -1px 1px 0px #0b217a;
}

#b {
  width: 100%;
  height: 100%;

  display: flex;
}

.fotoperfil {
  width: 45%;

  cursor: pointer;

  background-image: url(./imagens/Foto.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* 

   REDES SOCIAIS */

.redes {
  font-size: calc(9px + 0.9vw);
  font-weight: normal;

  text-align: center;

  color: #1354f9;
  text-shadow: -1px 1px 0px #0b217a;
}

.social {
  width: 100%;

  display: flex;
  justify-content: center;
  margin-left: 0.4vw;
}

#icon {
  margin: 0.5vw;
  width: calc(24px + 4vw);
  height: auto;
}

/* 

   BOTOES */
.botoes {
  width: 100%;
  height: 20%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#botao {
  width: 40%;
  height: 40%;

  font-family: "Press Start 2P", cursive;
  font-size: calc(8px + 0.8vw);

  margin-left: 0.8vw;
  margin: 5%;
  border: 0px;

  color: white;
  background-color: #0c1239;
  box-shadow: -2px 2px 0px #1d52f6;

  cursor: pointer;
}

/* 

   UM POUCO SOBRE MIM*/

.sobre {
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: nowrap;
}

.sobremim {
  width: 55%;
}

.nome {
  font-size: calc(14px + 1.4vw);
  font-weight: normal;

  margin-left: 0.8vw;

  color: white;
  text-shadow: -2px 2px 0px rgb(29, 82, 246);
}

.prof {
  font-size: calc(7px + 0.7vw);
  font-weight: normal;

  margin-left: 0.8vw;

  color: #1354f9;
  text-shadow: -1px 1px 0px #0b217a;
}

#caixainfo {
  line-height: 1.2;
}

/* 

   AQUI COMEÇA OS ATRIBUTOS INICIAIS
{IDADE, ESTADO, PAÍS, FRONT-END, BACK-END}
 */

/* DIVS ATRIBUDOS ID = 'slot' */
#slot {
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* idade */
#idade {
  font-size: calc(8px + 0.8vw);
  font-weight: normal;

  color: #1354f9;
  text-shadow: -1px 1px 0px #0b217a;
}
.idadebarra {
  width: calc(90% - 0.8vw);
  height: 5px;

  margin: 0.2vw 0vw 0vw 0.8vw;

  border: solid 1px #1835a8;
  background: linear-gradient(90deg, #1354f9 20%, #141e49 20%);
}

/* estado e pais */
#pais {
  font-size: calc(8px + 0.8vw);
  font-weight: normal;

  color: #1354f9;
  text-shadow: -1px 1px 0px #0b217a;
}
#estado {
  font-size: calc(8px + 0.8vw);
  font-weight: normal;

  color: #1354f9;
  text-shadow: -1px 1px 0px #0b217a;
}
#barrapaisestado {
  width: calc(90% - 0.8vw);
  height: 5px;

  margin: 0.2vw 0vw 0vw 0.8vw;

  border: solid 1px #1835a8;
  background-color: #1354f9;
}
/*    
   HABILIDADES    */
#habilidades {
  width: 90%;

  display: flex;
  justify-content: center;

  color: #1354f9;
  text-shadow: -1px 1px 0px #0b217a;
}

/* back-end e front-end*/
.front {
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#fb {
  font-size: calc(8px + 0.8vw);
  font-weight: normal;

  color: #1354f9;
  text-shadow: -1px 1px 0px #0b217a;
}

#iep {
  margin: 1vw 0vw 0vw 1vw;
  color: white;
  text-shadow: -1px 1px 0px #1354f9;
}

#fbbarra {
  width: calc(90% - 0.8vw);
  height: 5px;

  margin: 0.2vw 0vw 0vw 0.8vw;

  border: solid 1px #1835a8;
  background: linear-gradient(90deg, #1354f9 50%, #141e49 20%);
}
/* 


   SKILLS */
.icons {
  width: 90%;

  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  margin: 1vw 0vw 0vw 0.8vw;
}

#icons {
  margin: 1%;
  width: 8vw;
  height: auto;
}

/*    

FINAL ATRIBUTOS */

@media (max-width: 800px) {
  p {
    font-size: calc(6px + 0.6vw);
    font-weight: normal;
  }

  .sobre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .sobremim {
    width: 100%;
    height: 50vw;
    text-align: center;
  }

  #caixainfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #icons {
    width: 10vw;
    height: auto;
  }

  .botoes {
    height: 30%;
  }

  .fotoperfil {
    width: 100%;
    height: 40vw;
    background-position: center;
    margin-bottom: 1vw;
  }
}
