* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 300ms;
}

@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");

:root {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;

  --background-color: #161616;
  --background-gradient: linear-gradient(180deg, #151515 0%, #181818 100%);

  --sidebar-gradient: linear-gradient(
    180deg,
    rgba(11, 11, 18, 1) 0%,
    rgba(13, 13, 33, 1) 74%,
    rgba(11, 11, 18, 1) 100%
  );
  --sidebar-iconhover: rgba(13, 13, 33, 1);

  --text-color: #e3e3e3;
}

html {
  cursor: default;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--background-color);
}

h1 {
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 6rem;
  letter-spacing: 0.2em;
}

h2 {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4rem;
}

p,
span {
  font-weight: 400;
  font-size: 3rem;
  line-height: 4rem;

  margin-bottom: 2.4rem;
}

.home {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: url(./assets/img/bgimage.png);
  background-position: bottom;
  background-size: cover;

  color: var(--text-color);
}

.home a {
  text-decoration: none;
}

.home a i {
  font-size: 3rem;
  color: var(--text-color);
}

.home .social-links {
  margin-top: 2rem;

  display: flex;
  gap: 2rem;
}

.home .about-button {
  margin-top: 10rem;

  background-color: #ffffff;
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 25px;

  display: flex;
  flex-direction: column;

  justify-content: baseline;

  text-decoration: none;

  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;

  color: var(--background-color);
}

.home .about-button i {
  color: var(--background-color);

  padding-top: 2rem;
  padding-inline: 0.8rem;
}

.profile-image {
  border-radius: 100%;
  height: 40vh;

  box-shadow: -4px 0px 0px #131313;
}

.about {
  padding-inline: 35rem;
  padding-top: 2rem;
  padding-bottom: 14rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  color: var(--text-color);
}

.about h2 {
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 6rem;
  letter-spacing: 0.2em;

  margin-bottom: 2.4rem;
}

.about span {
  padding-inline: 20rem;
}

.development-skills {
  margin-top: 1.8rem;
  margin-bottom: 4.2rem;

  display: flex;
  gap: 7rem;
}

.development-skills img {
  height: 14rem;
}

.cv-button {
  width: 28rem;
  height: 7rem;

  margin-top: 1.8rem;

  background-color: #ffffff;
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;

  color: var(--background-color);
}

@media (max-width: 1920px) {
  .about {
    padding-inline: 20rem;
  }
}

@media (max-width: 1280px) {
  h1 {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }

  h2 {
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 4rem;
  }

  p,
  span {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .home a i {
    font-size: 2rem;
  }

  .profile-image {
    height: 20vh;
  }

  .about {
    padding-inline: 15rem;
  }

  .development-skills {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .about h2 {
    font-size: 3rem;
  }

  .about span {
    padding-inline: 2rem;
  }

  .development-skills img {
    height: 9rem;
  }

  .cv-button {
    width: 20rem;
    height: 6rem;

    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3rem;
  }
}

@media (max-width: 780px) {
  h1 {
    font-size: 2rem;
    line-height: 3.2rem;
  }

  h2 {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 4rem;
  }

  p,
  span {
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about {
    padding-inline: 2rem;
  }

  .development-skills img {
    height: 5rem;
  }

  .cv-button {
    width: 18rem;
    height: 5rem;

    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3rem;
  }
}
