#barras {
   margin: 5px 0px 30px 0px;
}

#atributosinfo {
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;
}

.idadebarra {
   width: 600px;
   height: 10px;

   border: solid 1px #1835a8;
   background: linear-gradient(90deg, #1354f9 15%, #141e49 15%);
}

.estadobarra {
   width: 600px;
   height: 10px;

   border: solid 1px #1835a8;
   background-color: #1354f9;
}

.paisbarra {
   width: 600px;
   height: 10px;

   border: solid 1px #1835a8;
   background-color: #1354f9;
}

.habilidades {
   color: #1354f9;
   text-shadow: -2px 0px 0px #142c8d;
   text-align: center;
   margin-bottom: 30px;
}

.frontendbarra {
   width: 600px;
   height: 10px;

   border: solid 1px #1835a8;
   background: linear-gradient(90deg, #1354f9 60%, #141e49 60%);
}

.backendbarra {
   width: 600px;
   height: 10px;

   border: solid 1px #1835a8;
   background: linear-gradient(90deg, #1354f9 10%, #141e49 10%);
}

.linguagens {
   padding: 20px;
   border: 1px solid #1354f9;
   text-align: center;
}
